.okayNav-header {
  height: 5rem;
  background-color: #222222;
}
.okayNav a {
  color: #ffb441;
  font-size: 1.4rem;
  font-weight: bold;
}
.okayNav a:hover {
  color: black;
}
.okayNav__nav--visible a:hover {
  color: antiquewhite;
}
.okayNav__nav--invisible {
  background: #fff;
}
.okayNav__menu-toggle span {
  background: #2e2e33;
}
.okayNav__menu-toggle.icon--active span {
  background: #546edb;
}
